/* global */
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: 'formular';
  scroll-behavior: smooth;
  scroll-margin-top: 20px;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #0B1d26;
  background-image: url(../img/BG1.webp);
  background-repeat: no-repeat;
  background-size: 100%;
}

a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
}